[submodule "app/plugins/asset_compress"]
	path = app/plugins/asset_compress
	url = git://github.com/markstory/asset_compress.git
[submodule "app/vendors/soundcloud"]
	path = app/vendors/soundcloud
	url = git://github.com/mptre/php-soundcloud.git