html {
	height:100%;
}

body {
	background:#000 url("/img/layout/background-photo-01.jpg") no-repeat;
	height:100%;
	color:#fff;
}

#container {
	background-image:url("/img/layout/menu-background.png");
	height:auto !important;
	min-height:100%;
	width:510px;
	position:relative;
}

#logo-container {
	padding-top:50px;
}

#logo-container #block {
	background-color:#f4cb0f;
	display:inline-block;
	height:41px;
	vertical-align:top;
	width:41px;
}

#logo-container #logo {
	background:url("/img/layout/logo.png") no-repeat 0 -1px;
	display:inline-block;
	height:64px;
	width:448px;
}

#menu {
	text-align:center;
}

#menu .item-wrapper { display:inline-block; }

#menu .item {
	color:#848484;
	cursor:pointer;
	display:block;
	font-size:15px;
	margin-right:5px;
	padding:10px;
	text-decoration:none;
	text-transform:uppercase;
}

#menu .item:hover,
#menu .item.active {
	background-color:#272727;
	color:#FFF;
}

#menu .item.last {
	margin-right:0;
}

#main {
	padding:20px 30px 60px;
}

#footer {
	bottom:20px;
	position:absolute;
	right:30px;
	text-align:right;
	width:450px;
}

#footer #left {
	float:left;
	text-align:left;
}

#footer #right div {
	display:inline-block;
}

#footer #right {
	float:right;
}