.pictures.index {
	margin:0 auto;
	text-align:left;
	width:355px;
}

.pictures.index .picture {
	display:inline-block;
	margin:0 5px 10px 0;
}

.pictures.index .picture a {
	background-color:#282828;
	display:block;
	padding:5px;
}

.pictures.index .picture a:hover {
	background-color:#FFF;
}